@import './border-sizing.css';

p {
    text-align: justify;
}

body {
    font-family: sans-serif;
    margin: 0px;

    & .content {
        padding: 2ex 2em;
        max-width: 50em;
    }
}

.topbar {
    width: 100%;
    background: black;
    color: snow;
    padding: 1ex 1em;
    & * {
        max-height: 100%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        vertical-align: middle;
    }

    & img {
        width: 10em;
    }

    & #title {
        font-weight: bold;
        font-size: 2em;
    }
}
